<div class="breadcrumb">
	<h1>Services</h1>
	<p>Here are some of the services that we offer to help your company reach its customers. Terrain Digital will use the power of the email to drive customers to your website. If we do our job well you should see an increase in traffic to your and increased sales. Please contact us and we will chat about what can be done to help your company grow.</p>
</div>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputName1" class="col-lg-2 control-label">Name</label>
    <div class="col-lg-10">
      <input type="name" class="form-control" id="inputName1" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputCompany1" class="col-lg-2 control-label">Company</label>
    <div class="col-lg-10">
      <input type="Company" class="form-control" id="inputCompany1" placeholder="Company">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <input type="Email" class="form-control" id="inputEmail1" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>